:host {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.char-block {
	display: inline-block;
	position: relative;
	margin: 1px;
	padding: 1px;
	color: rgb(255, 255, 255);
	background: #7a7a7a;
	border-radius: 4px;
	width: 14px;
	height: 14px;
	font-weight: 500;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}
