.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
	color: rgba(99, 99, 99, 0.521);
	font-size: 1.5em;
}

.content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
}

.content-inner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 600px;
	min-width: 50vw;
	max-width: 100vw;
}

.regenerate-button {
	min-width: 200px;
	max-width: 90%;
	font-size: 1.25em;
	margin: 32px 0;
}

.phrase-generation-output {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 95%;
	margin: 0 12px;
}

