<div class="content-wrapper" role="main">
	<section class="content">

		<h1>Obsidize (Phra)se (G)enerator</h1>

		<br>
		<br>

		<button class="regenerate-button" (click)="regenerate()">
			Regenerate
		</button>

		<br>
		<br>
		<br>

		<div class="phrase-generation-output">
			<div class="phrase-row" *ngFor="let phrase of generatedPhrases">
				<div class="phrase-copy-button-col">
					<button (click)="copyToClipboard(phrase)">
						Copy to Clipboard
					</button>
				</div>
				<div class="phrase-value-col" [class.last-copied-value]="phrase === lastCopiedPhrase">
					{{phrase}}
				</div>
			</div>
		</div>

	</section>

	<div class="footer">
		Version {{appVersion}}
	</div>
</div>