<div class="content-wrapper" role="main">

	<div class="header">
		<div class="header-inner">

			<h1 class="title">
				Phrag
			</h1>

			<button class="settings-button" (click)="toggleShowSettings()">
				<mat-icon>settings</mat-icon>
			</button>

		</div>
	</div>

	<div class="settings" [class.visible]="showSettings">
		<div class="settings-inner">

			<div class="setting-option">
				<label>Include Less Common Characters ({{extraSpecialCharsDisplay}})</label>
				<input type="checkbox" [(ngModel)]="includeAllSpecialCharacters" />
			</div>

		</div>
	</div>

	<div class="content">
		<div class="content-inner">

			<button class="regenerate-button" [disabled]="!didInitialize" (click)="regenerate()">
				Regenerate
			</button>

			<div class="phrase-generation-output">
				<div class="phrase-row" *ngFor="let phrase of generatedPhrases">
					<div class="phrase-value-col" [class.last-copied-value]="phrase === lastCopiedPhrase">
						{{phrase}}
					</div>
					<div class="phrase-copy-button-col">
						<button (click)="copyToClipboard(phrase)">
							{{phrase === lastCopiedPhrase ? 'Copied!' : 'Copy'}}
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="footer-inner">
			<a class="version-button-container" href="https://github.com/jospete/obsidize-phrag">
				<button class="version-button">
					<img class="version-button-icon" src="/assets/icons/github-mark.svg" />
					<label class="version-button-label">Version {{appVersion}}</label>
				</button>
			</a>

		</div>
	</div>

</div>