<div class="content-wrapper" role="main">
	<section class="content">

		<h1 class="main-title">
			Obsidize (Phra)se (G)enerator
		</h1>

		<p class="version-info">
			Version {{appVersion}}
		</p>

		<div class="links-container">
			<a href="https://www.security.org/how-secure-is-my-password/">
				Strength Tester
			</a>
			<a href="https://github.com/jospete/obsidize-phrag">
				Github Source
			</a>
		</div>

		<button class="regenerate-button" [disabled]="!didInitialize" (click)="regenerate()">
			Regenerate
		</button>

		<div class="phrase-generation-output">
			<div class="phrase-row" *ngFor="let phrase of generatedPhrases">
				<div class="phrase-value-col" [class.last-copied-value]="phrase === lastCopiedPhrase">
					{{phrase}}
				</div>
				<div class="phrase-copy-button-col">
					<button (click)="copyToClipboard(phrase)">
						{{phrase === lastCopiedPhrase ? 'Copied!' : 'Copy'}}
					</button>
				</div>
			</div>
		</div>

	</section>
</div>