.content-wrapper {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(#c7f5fd 0 60%, #dbdbdb);
	overflow-y: scroll;
	overflow-x: hidden;
}

.header {
	display: block;
	width: 100%;
	height: 50px;
	z-index: 10;
	background: rgba(3, 25, 99, 0.5);
}

.header-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	margin: 0;
	font-size: 1.25em;
	color: #ffffff;
	font-weight: 500;
	width: fit-content;
	max-width: 70vw;
	margin: 0 auto;
	padding-top: 12px;
}

.settings-button {
	position: absolute;
	top: 8px;
	right: 8px;
	background: transparent;
	min-width: 50px;
	min-height: 32px;
}

.settings-button:active {
	color: rgba(218, 218, 218, 0.74);
}

.settings {
	height: 0;
	margin: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	transition: all ease 0.25s;
}

.settings.visible {
	height: 30px;
	margin: 12px 0 0 0;
}

.settings .settings-inner {
	height: inherit;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.setting-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.setting-option>label {
	margin-right: 8px;
}

.setting-option>input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
	color: rgba(99, 99, 99, 0.521);
	font-size: 1.5em;
}

.content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
}

.content-inner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 600px;
	min-width: 50vw;
	max-width: 100vw;
}

.regenerate-button {
	min-width: 200px;
	max-width: 90%;
	font-size: 1.25em;
	margin: 20px 0 32px 0;
}

.phrase-generation-output {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 95%;
	margin: 0 12px;
}

.phrase-generation-output>.phrase-row {
	width: 100%;
	max-width: 550px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4px;
	background-color: rgba(145, 145, 190, 0.25);
	padding: 8px 16px;
}

.phrase-copy-button-col {
	float: right;
	margin-right: 4px;
}

.phrase-copy-button-col>button {
	font-size: 0.8em;
	min-width: 60px;
	min-height: 28px;
	float: right;
	background-color: #638083c0;
}

.phrase-copy-button-col>button:hover {
	background-color: #7c9ea1c0;
}

.phrase-copy-button-col>button:active {
	background-color: #e4e4e4c0;
}

.phrase-value-col {
	font-size: 1.1em;
	color: #585858;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	-webkit-transition: color 80ms linear;
	-ms-transition: color 80ms linear;
	transition: color 80ms linear;
	white-space: normal;
	word-break: break-all;
	padding-right: 6px;
}

.phrase-value-col.last-copied-value {
	color: #3fbe34;
	-webkit-transition: color 80ms linear;
	-ms-transition: color 80ms linear;
	transition: color 80ms linear;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin: 70px 0 30px 0;
}

.footer-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding-right: 20px;
}

.version-button-container {
	text-decoration: none;
}

.version-button {
	width: 180px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border: 2px solid rgba(3, 25, 99, 0.5);
	background: rgba(1, 1, 1, 0);
	color: rgba(24, 55, 158, 0.5);
}

.version-button:active {
	background: rgba(224, 244, 255, 0.952);
	color: rgba(86, 108, 180, 0.815);
}

.version-button-icon {
	width: 24px;
	height: 24px;
}

.version-button-label {
	font-size: 1.3em;
	font-weight: 600;
}

@media screen and (min-width: 900px) {

	.settings-button {
		right: 26px;
	}

	.regenerate-button {
		margin-top: 40px;
	}
}

/* Deals with ridiculously small screens */
@media screen and (max-width: 375px) {

	.settings-button {
		right: 2px;
	}

	.phrase-value-col {
		font-size: 0.82em;
	}

	.footer {
		margin: 36px 0;
	}
}