/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
}

html * {
	font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	color: #3a3a3a;
	font-size: 2em;
}

button {
	padding: 2px 6px;
	min-width: 140px;
	min-height: 40px;
	border: none;
	border-radius: 8px;
	color: #eeeeee;
	background: #6093b1;
	-webkit-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

button:hover {
	background: #35586d;
	-webkit-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

button:active {
	background: #6c9db3;
	-webkit-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}