.settings {
	height: 0;
	margin: 0;
	min-height: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	transition: all ease 0.25s;
}

.settings.visible {
	min-height: 160px;
	margin: 12px 0 0 0;
}

.settings .settings-inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.setting-option {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 24px;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.settings-option-label-wrapper {
	display: flex;
	flex-direction: column;
	margin-right: 12px;
	max-width: 70vw;
}

.setting-option>label {
	margin-right: 8px;
}

.checkbox-label {
	flex: 1;
}

.setting-option>input[type="checkbox"] {
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	accent-color: var(--color-success);
}

.charset-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.char-block {
	display: inline-block;
	position: relative;
	margin: 1px;
	padding: 1px;
	color: rgb(255, 255, 255);
	background: #7a7a7a;
	border-radius: 4px;
	width: 14px;
	height: 14px;
	font-weight: 500;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

.special-char-multiselect>.special-char-button {
	min-width: 24px;
	min-height: 24px;
	margin: 2px;
}

.special-char-multiselect>.special-char-button.active {
	background-color: var(--color-success);
}

.range-slider {
	width: 100%;
	display: flex;
	flex: 1;
	justify-content: space-between;
}

.range-slider>input[type="range"] {
	accent-color: var(--color-success);
	width: 60%;
}

.slider-value-label {
	max-height: 1em;
}

.special-chars-label {
	margin-bottom: 6px;
}

@media screen and (min-width: 520px) {
	.setting-option {
		width: 450px;
		margin: 6px 5vw;
	}
}

@media screen and (max-width: 519px) {
	.settings.visible {
		min-height: 230px;
	}
	.setting-option {
		width: 85%;
		margin: 6px auto;
	}
}

@media screen and (max-width: 360px) {
	.slider-value-label {
		padding-top: 0.5em;
		margin-left: 12px;
	}
	.range-slider>input[type="range"] {
		width: 84%;
	}
}
